/* 카페 트리핀 영역 */
/* 스크롤이벤트 css */
#content .content_area>div:first-child{
    position: relative;
    right: -20px;
    top: 0;
    opacity: 0;
    transition: all .8s
}
#content .tripin_bottom li:nth-child(odd){
    position: relative;
    right: 20px;
    top: 0;
    opacity: 0;
    transition: all .8s
}
#content .tripin_bottom li:nth-child(even){
    position: relative;
    right: -20px;
    top: 0;
    opacity: 0;
    transition: all .8s
}

#content .content_area div.boxMove {
    right: 0;
    opacity: 1;
}
#content .tripin_bottom li.boxMove {
    right: 0;
    opacity: 1;
}

#content .content_area h3{
    font-size: 2.5em;
    margin-bottom:50px;
}
#content .content_area .tripin_top{
    text-transform: uppercase;
    margin-bottom:250px;
}
#content .content_area .tripin_top img{
    transform: scale(1);
    transition: all .7s ease;
    position: relative;
}
#content .content_area .tripin_top li:hover img{
    transform: scale(1.1);
}
#content .content_area .tripin_top h3{
    margin-left:20px;
    margin-bottom:100px;
}
#content .content_area .tripin_top ul{
    overflow: hidden;
}
#content .content_area .tripin_top li{
    text-align: center;
    margin:20px;
    width: 358px;
    height: 450px;
    line-height: 1.5em;
    float: left;
    overflow: hidden;
    position: relative;
    box-shadow: 2px 2px 5px 2px #ccc;
}
#content .content_area .tripin_top li:nth-child(1){
    transform: rotateZ(5deg);
}
#content .content_area .tripin_top li:nth-child(2){
    transform: rotateZ(-5deg);
}
#content .content_area .tripin_top li:nth-child(3){
    transform: rotateZ(5deg);
}
#content .content_area .tripin_top dl{
    position: absolute;
    left:0;
    top:200px;
    background: rgba(0,0,0,.0);
    width: 360px;
    height: 30px;
    overflow: hidden;
    transition: all .5s ease;
}
#content .content_area .tripin_top li:hover dl{
    color:#fff;
    left:0;
    top:0;
    background: rgba(0,0,0,.5);
    width: 360px;
    height: 450px;
}
#content .content_area .tripin_top dt{
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 700;
    font-size: 1.75em;
    margin-bottom:100px;
    transition: all .3s ease;

}
#content .content_area .tripin_top li:hover dt{
    margin-top:100px;
}
#content .content_area .tripin_top dd{
    width: 250px;
    margin:0 auto;
}

#content .content_area .tripin_bottom{
    margin-bottom:150px;
    text-transform: capitalize;
    height: 1950px;
}
#content .content_area .tripin_bottom ul{

}
#content .content_area .tripin_bottom li{
    clear: both;
    position: relative;

}
#content .content_area .tripin_bottom li p{
    text-align: justify;
    line-height: 2em;
}
#content .content_area .tripin_bottom li img{
    width: 600px;
}

#content .content_area .tripin_bottom .tripin_inner{

    height: 250px;
}

#content .content_area .tripin_bottom li:nth-child(1) img{
    box-shadow:2px 2px 5px 2px #ccc;
    transform: rotateZ(5deg);
    float: left;
}
#content .content_area .tripin_bottom li:nth-child(1) .tripin_inner{
    transform: rotateZ(-3deg);
    box-shadow: 2px 2px 5px 2px #ccc;
    background: #f2f2f2;
    padding:50px 25px;
    margin: 50px 0 250px 50px;
    width: 500px;
    float: left;
}

#content .content_area .tripin_bottom li:nth-child(1) h3{
    text-align: center;
}

#content .content_area .tripin_bottom li:nth-child(2) img{
    box-shadow:-2px 2px 5px 2px #ccc;
    transform: rotateZ(-5deg);
    float: right;
}
#content .content_area .tripin_bottom li:nth-child(2) .tripin_inner{
    transform: rotateZ(3deg);
    box-shadow: -2px 2px 5px 2px #ccc;
    background: #f2f2f2;
    padding:50px 25px;
    margin: 50px 50px 250px 0;
    width: 500px;

    float: right;
}
#content .content_area .tripin_bottom li:nth-child(2) h3{
    text-align: center;
}

#content .content_area .tripin_bottom li:nth-child(3) img{
    box-shadow:2px 2px 5px 2px #ccc;
    transform: rotateZ(5deg);
    float: left;
}
#content .content_area .tripin_bottom li:nth-child(3) .tripin_inner{
    transform: rotateZ(-3deg);
    box-shadow: 2px 2px 5px 2px #ccc;
    background: #f2f2f2;
    padding:50px 25px;
    margin: 50px 0 250px 50px;
    width: 500px;
    float: left;
}
#content .content_area .tripin_bottom li:nth-child(3) h3{
    text-align: center;
}