/* 연혁 영역 */
#content .content_area{

}
#content .content_area div:nth-child(odd) {
    position: relative;
    right: -20px;
    top: 0;
    opacity: 0;
    transition: all .8s
} 

#content .content_area div:nth-child(even) {
    position: relative;
    right: 20px;
    top: 0;
    opacity: 0;
    transition: all .8s
}
#content .content_area div:nth-child(1){
    right: 0;
    opacity: 1;
}
#content .content_area div.boxMove {
    right: 0;
    opacity: 1;
}

#content .content_area .con_top{
    overflow: hidden;
    position: relative;
}
#content .content_area .con_top::after{
    content:'';
    width: 1px;
    height: 1910px;
    position: absolute;
    background: #255aa6;
    left: 600px;
    top: 327px;
}
#content .content_area .con_middle{
    overflow: hidden;
    position: relative;
}
#content .content_area .con_middle::after{
    content:'';
    width: 1px;
    height: 537px;
    position: absolute;
    background: #255aa6;
    left: 600px;
    top: 327px;
}
#content .content_area .con_bottom{
    overflow: hidden;
    position: relative;
}
#content .content_area .con_bottom::after{
    content:'';
    width: 1px;
    height: 1566px;
    position: absolute;
    background: #255aa6;
    left: 600px;
    top: 327px;
}

#content .content_area .slide_menu{

}
#content .content_area ul{
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.125em;
    position: relative;
    padding-bottom:100px;
}

#content .content_area ul::after{
    content:'';
    width: 2000px;
    height: 1px;
    background:#ccc;
    position: absolute;
    left: 50%;
    margin-left:-1000px;
    top:-3px;
}

#content .content_area li{
    float: left;
    width: 33.33%;
    position: relative;
}
#content .content_area li a{
    display: block;
    color:#999;
    padding:20px 0;
    transition: all .5s ease;
}
#content .content_area li:hover a{
    color:#255aa6;
}
#content .content_area .current2{
    color:#255aa6;
}
#content .content_area .current2::after{
    content:'';
    background: #255aa6;
    border:1px solid #255aa6;
}
#content .content_area a::after{
    content:'';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border:1px solid #ccc;
    position: absolute;
    left:50%;
    margin-left:-5px;
    top:-9px;
    z-index: 10;
    transition: all .5s ease;
}
#content .content_area a:hover::after{
    content: '';
    background: #255aa6;
    border:1px solid #255aa6;
}



#content .content_area .slide_menu.navOn{
    font-family: 'Nanum Gothic', sans-serif;
    
    position: fixed;
    width: 100%;
    height: 77px;
    top: 0;
    left: 0;
    background: #255aa6;
    z-index: 100;
}
#content .content_area .slide_menu.navOn ul{
    width: 1200px;
    margin:0 auto;
}
#content .content_area .slide_menu.navOn li{
    width: 400px;
    left:0;
}
#content .content_area .slide_menu.navOn li:hover a{
    background: #fff;
    color: #255aa6;
}
#content .content_area .slide_menu.navOn a{
    width: 400px;
    color: #fff;
    padding: 14px 0 15px 0;
    font-size: 1em;
}
#content .content_area .slide_menu.navOn a::after{
    display: none;
}
#content .content_area .slide_menu.navOn .spy{
    background: #fff;
    color: #255aa6;
}

#content .content_area h3{
    font-size: 2.5em;
    padding-top: 100px;
    text-align: center;
    margin-bottom:170px;
    clear:both;
    position: relative;
}

#content .content_area p{
    text-align: center;
    font-size: 1.375em;
    margin-bottom:70px;
}

#content .content_area dl{
    font-family: 'Nanum Gothic', sans-serif;
    text-align: right;
    float: left;
    position: relative;
}
#content .content_area .first_box{
    position: relative;
}

#content .content_area .first_box dt:nth-of-type(odd)::after{
    content: '';
    width: 20px;
    height: 20px;
    background: #255aa6;
    border-radius: 50%;
    left: 590px;
    top: 10px;
    position: absolute;
}
#content .content_area .first_box dt:nth-of-type(even)::after{
    content: '';
    width: 20px;
    height: 20px;
    border:1px solid #255aa6;
    border-radius: 50%;
    left: 589px;
    top: 10px;
    position: absolute;
}
#content .content_area dt{
    color:#255aa6;
    font-size: 2.25em;
    margin-bottom:20px;
    position: relative;
}
#content .content_area dd{
    font-size: 1.125em;
    margin-bottom:80px;
}

#content .content_area img{
    float: right;
    margin:200px 50px 200px 50px;
}

#content .content_area .right_box{
    clear: both;
    float: right;
    margin-right:125px;
    text-align: left;
    position: relative;
}
#content .content_area .right_box dt:nth-of-type(odd)::after{
    content: '';
    width: 20px;
    height: 20px;
    border:1px solid #255aa6;
    border-radius: 50%;
    right: 464px;
    top: 10px;
    position: absolute;
}
#content .content_area .right_box dt:nth-of-type(even)::after{
    content: '';
    width: 20px;
    height: 20px;
    background: #255aa6;
    border-radius: 50%;
    right: 464px;
    top: 10px;
    position: absolute;

}
#content .content_area .left_box{
    text-align: right;
    float: left;
    margin-left:8px;
    position: relative;
}
#content .content_area .left_box dt:nth-of-type(odd)::after{
    content: '';
    width: 20px;
    height: 20px;
    background: #255aa6;
    border-radius: 50%;
    left: 582px;
    top: 10px;
    position: absolute;
}
#content .content_area .left_box dt:nth-of-type(even)::after{
    content: '';
    width: 20px;
    height: 20px;
    border:1px solid #255aa6;
    border-radius: 50%;
    left: 581px;
    top: 10px;
    position: absolute;
}
#content .content_area .left_img{
    float: left;
    margin:80px 50px 150px 10px;
}
#content .content_area .right_img{
    float: right;
    margin:0 20px 50px 0;
}
#content .content_area .left_img2{
    float: left;
    margin: 50px 100px 170px 10px;
}
#content .content_area .right_box2{
    clear: both;
    float: right;
    margin-right:70px;
    text-align: left;
    position: relative;
}
#content .content_area .right_box2 dt:nth-of-type(odd)::after{
    content: '';
    width: 20px;
    height: 20px;
    background: #255aa6;
    border-radius: 50%;
    right: 520px;
    top: 10px;
    position: absolute;
}
#content .content_area .right_box2 dt:nth-of-type(even)::after{
    content: '';
    width: 20px;
    height: 20px;
    border:1px solid #255aa6;
    border-radius: 50%;
    right: 519px;
    top: 10px;
    position: absolute;
}
#content .content_area .last_box{
    text-align: right;
    clear: both;
    float: left;
    margin: 0 0 150px 170px;
    position: relative;
}
#content .content_area .last_box dt:nth-of-type(odd)::after{
    content: '';
    width: 20px;
    height: 20px;
    border:1px solid #255aa6;
    border-radius: 50%;
    left: 419px;
    top: 10px;
    position: absolute;
}
#content .content_area .last_box dt:nth-of-type(even)::after{
    content: '';
    width: 20px;
    height: 20px;
    background: #255aa6;
    border-radius: 50%;
    left: 420px;
    top: 10px;
    position: absolute;
}

#content .content_area .last_img{
    float: right;
    margin:0 20px 50px 0;
}